@inherits LayoutComponentBase
@inject IBootstrapCSS BootstrapCSS

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="content px-4">
        @Body
    </div>
</div>

@code {      
    protected override async Task OnInitAsync()
    {
        await BootstrapCSS.SetBootstrapCSS("united", "4.3.1");
    }
}
