@page "/associations"
@inject AssociationContext Context


<h1>Associations</h1>

<h2>One to One</h2>

<BlazorButton Color="Color.Primary" onclick="@onAdd">Add a Person and Address</BlazorButton>

@if (Context.People.Count == 1)
{
    <div>
        @Context.People[0].FirstName
    </div>
    <div>
        @Context.People[0].HomeAddress.Street
    </div>
}

<BlazorButton Color="Color.Primary" onclick="@onChange">Change Address</BlazorButton>

@functions {
    void onAdd(UIMouseEventArgs e)
    {
        var person = new Person { FirstName = "John", LastName = "Smith" };
        var address = new Address { Street = "221 Baker Streeet", City = "This should be a refrence to address since Address exists in the context" };
        person.HomeAddress = address;
        Context.People.Add(person);
        Context.Addresses.Add(address);
        Context.SaveChanges();
        StateHasChanged();
    }
    void onChange(UIMouseEventArgs e)
    {
        Context.People[0].HomeAddress.Street = "Changed Streeet";
        Context.SaveChanges();
        Console.WriteLine("Person address changed: {0}", Context.People[0].HomeAddress.Street);
        Console.WriteLine("Address entity changed as well: {0}", Context.Addresses[0].Street);
        StateHasChanged();
    }
}